torch==1.15.0
torchvision==0.6.0
opencv-contrib-python==4.3.0.36
scikit-learn==0.23
efficientnet_pytorch
tensorboard==2.3.0
flow_vis
moviepy
pyyaml
seaborn
yacs==0.1.8
tqdm==4.47.0
scipy==1.5.2
ipykernel
